# ssed config: example01

# the following are useful for 'anchor' command:
#base href=http://www.google.com/

#nada : this is ignored.

#dump_type=transparent
dump_type=no_script


# Exclude keywords
exclude= <meta*>

#exclude= <style>	NOT yet smart to identify pairing <style>...</style>
exclude=<style>
exclude=</style>

#exclude= style*	cut sentences that contain this string 'style' anywhere


